.card-container {
    z-index: 1;
    padding: 10px;
    margin: 5px;

    .card {
        max-width: 220px;
        border-radius: 4px;
        background-color: whitesmoke;
        display: block;
        position: relative;
        z-index: 1;
        cursor: move;
        button {
            font-size: 15px;
        }
    }
}