<h2 mat-dialog-title>update task</h2>
<div mat-dialog-content>
    <form [formGroup]="updateTaskForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="new title" formControlName="title" />
        <textarea placeholder="new description" formControlName="description"></textarea>
        <p>new created at:
            <input
                placeholder="new created at"
                type="date"
                formControlName="createdAt"
            />
        </p>
        <p>new deadline:
            <input
                placeholder="new deadline"
                type="date"
                formControlName="deadline"
            />
        </p>
        <p>new status:
            <input
                type="radio"
                formControlName="status"
                value="in progress"
                id="in progress"
            />
            <label for="in progress">in progress</label>
            <input
                type="radio"
                formControlName="status"
                value="in review"
                id="in review"
            />
            <label for="in review">in review</label>
            <input
                type="radio"
                formControlName="status"
                value="completed"
                id="completed"
            />
            <label for="completed">completed</label>
        </p>
        <div mat-dialog-actions>
            <button mat-stroked-button color="primary" (click)="onNoClick()">cancel</button>
            <button mat-flat-button color="primary" type="submit">ok</button>
        </div>
    </form>
</div>