<div cdkDrag class="card-container">
    <mat-card class="card" routerLink="/projects/{{ id }}">
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>{{ description }}</mat-card-subtitle>
        <mat-card-actions>
            <button mat-flat-button color="primary" class="updateBtn" (click)="$event.stopPropagation(); openDialog()">modify project</button>
            <button mat-stroked-button color="primary" class="deleteBtn" (click)="$event.stopPropagation(); onDelete()">delete project</button>
        </mat-card-actions>
    </mat-card>
</div>