.card-container {
    padding: 5px;
    margin: 10px;    

    .card {
        max-width: 260px;
        border-radius: 4px;
        background-color: whitesmoke;
        display: block;
        position: relative;
        &:hover {
            cursor: pointer;
        }
        button {
            font-size: 15px;
        }
    }
}